$def with(datos)
<h1>Detalles del Aracnido</h1>

<div class="form-inline form-group">
  <h3>Nombre: </h3><input type="text" readonly="true" value="$datos.nombre" id="nombre" name="nombre" class="mx-sm-3 col-sm-2">
</div>
<div class="form-inline form-group">
  <h3>Identidad: </h3><input type="text" readonly="true" value="$datos.identidad" id="identidad" name="identidad" class="mx-sm-3 col-sm-2">
</div>
<div class="form-inline form-group">
  <h3>Clase: </h3><input type="text" readonly="true" value="$datos.genero" id="genero" name="genero" class="mx-sm-4 col-sm-2">
</div>
<div class="form-inline form-group">
  <h3>Universo: </h3><input type="text" readonly="true" value="$datos.universo" id="universo" name="universo" class="mx-sm-2 col-sm-1">
</div>
<div class="form-inline form-group">
  <h3>Primer aparicion: </h3><input type="text" readonly="true" value="$datos.aparicion" id="aparicion" name="aparicion" class="mx-sm-4 col-sm-5">
</div>
<div class="form-inline form-group">
  <h3>Descripcion de traje: </h3><input type="text" readonly="true" value="$datos.colores" id="colores" name="colores" class="mx-sm-3 col-sm-5">
</div>
<br>
<a href="/" ><button type="button" name="button" class="btn btn-outline-danger">Regresar a lista</button></a>
